<!-- Primero revisamos si el formulario es valido
segundo ahí si lo mandamos -->

<form (ngSubmit)="f.form.valid && agregarValor()" #f="ngForm">
    <div class="agregar">
        <div class="agregar_contenedor">
            <select 
            (change)="tipoOperacion($event)"
            class="agregar_tipo"
            [ngClass]="{redfocus: tipo==='egreso'}">
                <option value="ingreso" selected>+</option>
                <option value="egreso">-</option>
            </select>

            <input
                [ngClass]="{redfocus: tipo==='egreso'}"
                type="text"
                class="agregar_descripcion"
                placeholder="Agregar Descripción"
                name="descripcion"
                [(ngModel)]="descripcion"
                required
            >
            <input
                [ngClass]="{redfocus: tipo==='egreso'}"
                type="number"
                class="agregar_valor"
                placeholder="Valor"
                name="valor"
                [(ngModel)]="valor"
                required
            >
            <button
                type="submit"
                class="agregar_btn"
                [ngClass]="{red: tipo==='egreso'}"
            >
                <i class="ion-ios-checkmark-outline"></i>
            </button>
        </div>
    </div>
</form>